Package: com.yourname.ios18siriripple
Name: iOS18SiriRipple
Version: 1.0
Architecture: iphoneos-arm
Description: iOS 18 Siri Ripple Animation
Maintainer: YourName
Author: YourName
Depends: mobilesubstrate
Section: Tweaks
